<div style="width: 100%; height:100%; z-index: 1450; background-color: gray; opacity: 0.5;  position: absolute" (click)="closeTransfers()"></div>
<div class="col-md-6" style="z-index: 1500; position: absolute; left: 25%; top:20%">
  <div class="container-fluid" style="position: relative; top:-20%">
    <div>
      <div class="card">
        <div class="card-header card-header-warning">
          <h4 class="card-title ">Transfer</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h6>Wallet Origin: </h6>
              <div class="form-group">
                <p style="padding-top: 8px">{{walletSelected}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <h6>Wallet Destination: </h6>
              <div class="form-group">
                <select class="form-control selectPicker" data-style="btn btn-link" style="padding: 0px" [(ngModel)]="walletDestination">
                  <ng-container *ngFor="let wallet of wallets">
                    <option *ngIf="wallet.id != walletSelected" [value]="wallet.id">
                      {{wallet.id}}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h6>Amount to transfer: </h6>
              <div class="form-group label-floating has-success">
                <input type="number" class="form-control" required name="price" min="0.01" step=".01" [(ngModel)]="amount">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="display: flex">
              <button type="button" class="btn btn-warning" style="margin: auto" (click)="doTransfer()">Send</button>
            </div>
          </div>
          <div class="row" *ngIf="error" style="margin-top: 50px">
            <div class="alert alert-danger col-md-12" role="alert" style="text-align: center">
              {{errorMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
