<div class="main-panel ps-container ps-theme-default">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand">Users</a>
      </div>
    </div>
  </nav>

  <div class="content">
    <div class="container-fluid">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">PagaCoin Users</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>email</th>
                    <th>Num. Wallets</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let user of users; let row = index">
                    <tr (click)="showHide = (showHide === row ?  -1 : row)">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.surname}}</td>
                        <td>{{user.email}}</td>
                        <td class="text-primary" *ngIf="user.wallets != null">{{user.wallets.length}}</td>
                    </tr>
                    <tr *ngIf="row == showHide">
                      <td colspan="5">
                        <div class="card">
                          <div class="card-header card-header-primary" style="padding: 5px; padding-left: 15px">User Wallets</div>
                          <div class="card-body">
                            <div class="table-responsive">
                              <table class="table">
                                <thead class=" text-primary">
                                <tr>
                                  <th>ID Wallet</th>
                                  <th>Balance</th>
                                  <th>Transfer</th>
                                </tr>
                                </thead>
                                <tbody>
                                <ng-container *ngFor="let wallet of user.wallets">
                                  <tr>
                                    <td>{{wallet.id}}</td>
                                    <td>{{wallet.balance}}</td>
                                    <td>
                                      <a class="nav-link" (click)="showTransfer(wallet.id)">
                                        <i class="material-icons">payments</i>
                                      </a>
                                    </td>
                                  </tr>
                                </ng-container>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<admin-transfers *ngIf="showTransferComponent" [walletSelected]="walletSelected" [wallets]="wallets" (closeEvent)="hideTransfers()"></admin-transfers>
