<div class="main-panel ps-container ps-theme-default">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand">Users</a>
      </div>
    </div>
  </nav>

  <div class="content">
    <div class="container-fluid">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">PagaCoin Transfer History</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <tr>
                  <th>ID</th>
                  <th>Origin Wallet</th>
                  <th>Destination Wallet</th>
                  <th>Amount</th>
                  <th>Transfer Date</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let transfer of transfer; let row = index">
                    <td>{{transfer.id}}</td>
                    <td>{{transfer.originWallet}}</td>
                    <td>{{transfer.destinationWallet}}</td>
                    <td>{{transfer.amount}}</td>
                    <td>{{transfer.transactionDate}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
