<div class="main-panel ps-container ps-theme-default">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand">Users</a>
      </div>
    </div>
  </nav>

  <div class="content">
    <div class="container-fluid">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">PagaCoin Users</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <tr>
                  <th>ID Wallet</th>
                  <th>ID User</th>
                  <th>Name</th>
                  <th>Surname</th>
                  <th>Amount</th>
                  <th>Transfer</th>
                </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let wallet of wallets; let row = index">
                    <tr (click)="showHide = (showHide === row ?  -1 : row)">
                        <td>{{wallet.id}}</td>
                        <td>{{wallet.ownerUserId}}</td>
                        <td><span *ngIf="usersWallet.has(wallet.ownerUserId)">{{usersWallet.get(wallet.ownerUserId).name}}</span></td>
                        <td><span *ngIf="usersWallet.has(wallet.ownerUserId)">{{usersWallet.get(wallet.ownerUserId).surname}}</span></td>
                        <td class="text-primary">{{wallet.balance}}</td>
                        <td>
                          <div class="nav-link" (click)="showTransfer(wallet.id)">
                            <i class="material-icons">payments</i>
                          </div>
                        </td>
                    </tr>
                    <tr *ngIf="row == showHide">
                      <td colspan="5">
                        <div class="card">
                          <div class="card-header card-header-primary" style="padding: 5px; padding-left: 15px">Wallet transfers</div>
                          <div class="card-body">
                            <div class="table-responsive">
                              <table class="table">
                                <thead class=" text-primary">
                                <tr>
                                  <th>ID</th>
                                  <th>Origin Wallet</th>
                                  <th>Destination Wallet</th>
                                  <th>Amount</th>
                                  <th>Transfer Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <ng-container *ngFor="let transfer of wallet.transfers">
                                  <tr>
                                    <td>{{transfer.id}}</td>
                                    <td>{{transfer.originWallet}}</td>
                                    <td>{{transfer.destinationWallet}}</td>
                                    <td>{{transfer.amount}}</td>
                                    <td>{{transfer.transactionDate}}</td>
                                  </tr>
                                </ng-container>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<admin-transfers *ngIf="showTransferComponent" [walletSelected]="walletSelected" [wallets]="wallets" (closeEvent)="hideTransfers()"></admin-transfers>

