<menu style="margin: 0">
    <div class="sidebar" data-color="purple" data-background-color="white">

      <div class="logo">
        <a [routerLink]="[hostUrl]" class="simple-text logo-mini"><img [src]="[logoImage]" style="width: 45%;"/></a>
        <a [routerLink]="[hostUrl]" class="simple-text logo-normal">PagaCoin </a>
      </div>

      <div class="sidebar-wrapper ps-container ps-theme-default ps-active-y">
        <ul class="nav">
          <li class="nav-item" *ngFor="let page of appPages; let i = index" [class.active]="selectedIndex == i">
            <a class="nav-link" [routerLink]="[page.url]">
              <i class="material-icons">{{page.icon}}</i>
              <p>{{page.title}}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
</menu>
