<div class="main-panel ps-container ps-theme-default">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand">404</a>
      </div>
    </div>
  </nav>

  <div class="content">
    <div class="container-fluid">
      <div class="row" style="justify-content: center;">

        <div class="col-lg-6 col-md-12 col-sm-12">

          <div style="text-align: center">
            <h3>Oops!</h3>
            <h2>404 Not Found</h2>
            <div class="error-details mb-3">
              Sorry, Requested page not found!
            </div>
            <div class="error-actions">
              <a href="/" class="btn btn-danger btn-lg">
                Go Back to Home
              </a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
