<div class="main-panel ps-container ps-theme-default">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand">Dashboard</a>
      </div>
    </div>
  </nav>

  <div class="content">
    <div class="container-fluid">
      <div class="row" style="justify-content: center;">

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <a class="card-icon" style="color:white" [routerLink]="[appPages[1].url]">
                <i class="material-icons">supervisor_account</i>
              </a>
              <h3 class="card-title">Number of Users</h3>
            </div>
            <div class="card-footer" style="justify-content: flex-end">
              <h2 class="card-subtitle">{{users.length}}</h2>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <a class="card-icon" style="color:white" [routerLink]="[appPages[2].url]">
                  <i class="material-icons">credit_card</i>
                </a>
              <h3 class="card-title">Number of Wallets</h3>
            </div>
            <div class="card-footer" style="justify-content: flex-end">
              <h2 class="card-subtitle">{{wallets.length}}</h2>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
